<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/01_other_buttons" target="_blank">Target</a>
</p>

<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <span class="base-button base-button-blue">Primary</span>
</p>

<p>
  <span class="base-button base-button-gray">Secondary</span>
</p>

<p>
  <span class="base-button base-button-green">Success</span>
</p>

<p>
  <span class="base-button base-button-red">Danger</span>
</p>

<p>
  <span class="base-button base-button-orange">Warning</span>
</p>

<p>
  <span class="base-button base-button-cyan">Info</span>
</p>

<p>Less intrusive variants:</p>

<p>
  <span class="base-button-outline base-button-outline-blue">Primary (unobtrusive)</span>
</p>

<p>
  <span class="base-button-outline base-button-outline-gray">Secondary (unobtrusive)</span>
</p>

<p>
  <span class="base-button-outline base-button-outline-green">Success (unobtrusive)</span>
</p>

<p>
  <span class="base-button-outline base-button-outline-red">Danger (unobtrusive)</span>
</p>

<p>
  <span class="base-button-outline base-button-outline-orange">Warning (unobtrusive)</span>
</p>

<p>
  <span class="base-button-outline base-button-outline-cyan">Info (unobtrusive)</span>
</p>

<!--<a class="btn btn-primary">Primary</a>
<a class="btn btn-secondary">Secondary</a>
<a class="btn btn-success">Success</a>
<a class="btn btn-danger">Danger</a>
<a class="btn btn-warning">Warning</a>
<a class="btn btn-info">Info</a>
<a class="btn btn-outline-primary">Primary (unobtrusive)</a>
<a class="btn btn-outline-secondary">Secondary (unobtrusive)</a>
<a class="btn btn-outline-success">Success (unobtrusive)</a>
<a class="btn btn-outline-danger">Danger (unobtrusive)</a>
<a class="btn btn-outline-warning">Warning (unobtrusive)</a>
<a class="btn btn-outline-info">Info (unobtrusive)</a>-->

